/* Google Fonts From Google */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap');
/* Shared Style */
*{
    font-family: 'Open Sans', sans-serif;
}
.btn-primary{
    background: #FF900E;
    color: #FFf;
    font-size: 1.25rem;
    border:  0;
    border-radius: 8px;
    padding: 20px 25px;
}
/* Header Style */
header{
    background: rgba(255, 144.05, 13.81, 0.10);
    padding: 50px 240px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-tittle{
    color: #131313;
    font-weight:700;
    font-size: 2.8rem;
}
nav > ul{
    display: flex;
}
nav li{
    list-style: none;
    margin-right: 30px;
    font-weight: 500px;
    font-size: 1rem;
}
nav li a{
    text-decoration: none;
    color: #424242;
}
/* Bnnaer style */
.banner-content{
    max-height: 800px;
    text-align: center;
    margin: 0 auto;
}
.banner-tittle{
    font-size: 4rem;
    font-weight: 700;
    color: #131313;
}
.banner-discription{
    color: #727272;
}
.banner img{
    margin-top: 20px;
    width: 100%;
}

/* Main */
main{
max-width: 1440px;
margin: 70px 90px;
}
/* Teams style */
.team-container{
    display: flex;
    align-items: center;
}
.teams-img-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1.5rem;
}
.team-contain{
    padding: 0px 0px 70px 70px;
}
.teams-tittle{
    font-size: 2.8rem;
}
.teams-tittle .quick-list{
    color: #727272;
    font-weight: 500;
}
.teams-tittle .of-our{
    color:#131313;
    font-weight:700 ;
}
.teams-tittle .text-features{
    color:#FF900E ;
    font-weight:700 ;
}
.teams-discription{
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
}

 






/* Responsive Media */
/* Mobile devices */
@media screen and (max-width:576px) {
    header{
        padding: 20px;
    }
    nav,
    .team-container{
        flex-direction: column;
    }
    .teams-img-container{
        grid-template-columns: 1fr;

    }
    .team-contain{
        padding: 0px 0px 20px 20px;
    }
}
/* Tablet devices */

@media screen and (min-width:576px)   and (Max-width:960px) {
    header{
        padding: 50px;
    }
    nav{
        flex-direction: column;
    }
    .team-container{
        flex-direction: column-reverse;
    }
    .team-contain{
        padding: 0px 0px 40px 40px;
    }
}
