/* Google Fonts From Google */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap');
/* Shared Style */
*{
    font-family: 'Open Sans', sans-serif;
}
.btn-primary{
    background: #FF900E;
    color: #FFf;
    font-size: 1.25rem;
    border:  0;
    border-radius: 8px;
    padding: 20px 25px;
}
/* Header Style */
header{
    background: rgba(255, 144.05, 13.81, 0.10);
    padding: 50px 240px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-tittle{
    color: #131313;
    font-weight:700;
    font-size: 2.8rem;
}
nav > ul{
    display: flex;
}
nav li{
    list-style: none;
    margin-right: 30px;
    font-weight: 500px;
    font-size: 1rem;
}
nav li a{
    text-decoration: none;
    color: #424242;
}
/* Bnnaer style */
.banner-content{
    max-height: 800px;
    text-align: center;
    margin: 0 auto;
}
.banner-tittle{
    font-size: 4rem;
    font-weight: 700;
    color: #131313;
}
.banner-discription{
    color: #727272;
}
.banner img{
    margin-top: 20px;
    width: 100%;
}

/* Main */
main{
max-width: 1440px;
margin: 70px 90px;
}
/* Teams style */
.team-container{
    display: flex;
    align-items: center;
}
.teams-img-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1.5rem;
}
.team-contain{
    padding: 0px 0px 70px 70px;
}
.teams-tittle{
    font-size: 2.8rem;
}
.teams-tittle .quick-list{
    color: #727272;
    font-weight: 500;
}
.teams-tittle .of-our{
    color:#131313;
    font-weight:700 ;
}
.teams-tittle .text-features{
    color:#FF900E ;
    font-weight:700 ;
}
.teams-discription{
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
}
/* Features Section */
.features{
    margin-top: 100px;
    display: flex;
    gap: 100px;
}
.features-content .card{
    margin-bottom: 20px;
    padding: 25px;
    border-radius: 8px;
    background-color: #FFf;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
}

.features .primary-tittle{
    border-left: 5px solid #FF900E;
   padding-left: 20px;
}
.features-img img{
    margin-left: 30px;
 width: 650px;
    height: 92%;
}
 .ten-years-badge{
     background: #FF900E; 
     border-radius: 8px;
     color: #FFf;
     width: 324px;
     padding: 40px;
     margin: 0px;
     text-align: center;
     position: relative;
     bottom: 150px;

 }
 .ten-years-badge h2{
   font-size: 4rem;
 margin: 0px;
  
 
 }
 .ten-years-badge p{
    font-size: 1.5rem;
    
 }

 /* Facts Section */
 .facts-card-container{
    display: flex;
    justify-content: space-around;
   
  
 }
.facts-card-container .card{
    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;
    padding:30px ;
}
.facts-card-container .card-tittle{
    font-weight: 600;
    color: #727272;
    font-size: 1.25rem;
    margin-top: 10px;
}
.facts-card-container .card-stats{
    font-size: 2.8rem;
    color: #424242;
    margin-top:10px ;
    margin-bottom: 10px;
}
 .primary-tittle{
   color: #131313;
   font-size: 2.8rem;
   font-weight: 700;
   
   
   
}
 .primary-discription{
     color: #727272;
     font-size:1rem;
     font-weight: 400;
     margin-bottom: 40px;
        
}
/* Sponspors */
.Sponspors{
    text-align: center;
}
.sponspors-img{
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
}

/* Footer */
.footer{
    padding: 20px;
    margin: 100px 150px;
    text-align: center;
    background: #FFF4E7; 
    border-radius: 8px;
}
.footer-discription{
    color: #424242;
    font-size: 20px;    
    font-weight: 400; 
}

/* Responsive Media */
/* Mobile devices */
@media screen and (max-width:576px) {
    header{
        padding: 20px;
    }
    nav,.features,
    .team-container{
        flex-direction: column;
    }

    
    .teams-img-container{
        grid-template-columns: 1fr;

    }
    .team-contain{
        padding: 0px 0px 20px 20px;
    }
    .facts-card-container{
        display: grid;
        grid-template-columns: repeat(2 , 1fr);
        gap: 5px;
    }
    .sponspors-img{
      
     display: flex;
    flex-wrap: wrap;
    gap: 15px;
    }
       
    .features-img img{
        width: 110%;
      margin: 0;  
    }
    .ten-years-badge{
        background: #FF900E; 
        border-radius: 8px;
        color: #FFf;
        width: 324px;
        padding: 10px;
        margin: 0px;
        text-align: center;
        position: relative;
        bottom: 150px;
    }
    .footer{
        margin: 0;
        padding: 20px;
        text-align: center;
        background: #FFF4E7; 
        border-radius: 8px;
    }
    .footer-discription{
        color: #424242;
        font-size: 0.7rem;    
         
    }
}
    
/* Tablet devices */

@media screen and (min-width:576px)   and (Max-width:960px) {
    header{
        padding: 50px;
    }
    nav, .features{
        flex-direction: column;
    }
    .team-container{
        flex-direction: column-reverse;
    }
    .team-contain{
        padding: 0px 0px 40px 40px;
    }
    .facts-card-container{
        display: grid;
        grid-template-columns: repeat(2 , 1fr);
        gap: 5px;
    }
    .sponspors-img {
        display: flex;
        justify-content: space-around;
        align-content: flex-start;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 15px;
    }
}
